In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [4]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [6]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [7]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [9]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\ProgramData\Anaconda3\envs\dl_env\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [14]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\ProgramData\Anaconda3\envs\dl_env\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\ProgramData\Anaconda3\envs\dl_env\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\ProgramData\Anaconda3\envs\dl_env\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\ProgramData\Anaconda3\envs\dl_env\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 6ms/step - loss: 100387.2031 - mae: 100387.2031 - val_loss: 98542.4609 - val_mae: 98542.4609
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99692.3125 - mae: 99692.3125 - val_loss: 97111.1328 - val_mae: 97111.1328
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 97179.2109 - mae: 97179.2109 - val_loss: 93394.8984 - val_mae: 93394.8984
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 92168.8906 - mae: 92168.8906 - val_loss: 87099.9609 - val_mae: 87099.9609
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 84771.4844 - mae: 84771.4844 - val_loss: 78947.5703 - val_mae: 78947.5703
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 76017.7422 - mae: 76017.7422 - val_loss: 70289.1797 - val_mae: 70289.1797
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 67329.7422 - mae: 67329.7422 - val_loss: 62503.3633 - val_mae: 62503.3633
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 60111.3281 - mae: 60111.3281 - val_loss: 56776.5859 - val_mae: 56776.5859
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 55178.5859 - mae: 55178.5859 - val_loss: 53295.9492 - val_mae: 53295.9492
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 52330.5117 - mae: 52330.5117 - val_loss: 51596.8359 - val_mae: 51596.8359
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 50963.1758 - mae: 50963.1758 - val_loss: 50996.2031 - val_mae: 50996.2031
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50451.6289 - mae: 50451.6289 - val_loss: 50821.8984 - val_mae: 50821.8984
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50245.1641 - mae: 50245.1641 - val_loss: 50770.1055 - val_mae: 50770.1055
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50154.9297 - mae: 50154.9297 - val_loss: 50730.8516 - val_mae: 50730.8516
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50099.2812 - mae: 50099.2812 - val_loss: 50693.0312 - val_mae: 50693.0312
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50047.8164 - mae: 50047.8164 - val_loss: 50672.9414 - val_mae: 50672.9414
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50008.3594 - mae: 50008.3594 - val_loss: 50638.4609 - val_mae: 50638.4609
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 49969.1680 - mae: 49969.1680 - val_loss: 50614.1211 - val_mae: 50614.1211
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49940.2773 - mae: 49940.2773 - val_loss: 50592.2305 - val_mae: 50592.2305
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49910.7539 - mae: 49910.7539 - val_loss: 50571.0352 - val_mae: 50571.0352
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 49886.7070 - mae: 49886.7070 - val_loss: 50543.4961 - val_mae: 50543.4961
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49862.6953 - mae: 49862.6953 - val_loss: 50528.0234 - val_mae: 50528.0234
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49838.6953 - mae: 49838.6953 - val_loss: 50511.3633 - val_mae: 50511.3633
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49818.6289 - mae: 49818.6289 - val_loss: 50494.6953 - val_mae: 50494.6953
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49800.0430 - mae: 49800.0430 - val_loss: 50482.9961 - val_mae: 50482.9961
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49781.6797 - mae: 49781.6797 - val_loss: 50468.3203 - val_mae: 50468.3203
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49765.3867 - mae: 49765.3867 - val_loss: 50454.9648 - val_mae: 50454.9648
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49750.1953 - mae: 49750.1953 - val_loss: 50449.9648 - val_mae: 50449.9648
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49734.3242 - mae: 49734.3242 - val_loss: 50451.5938 - val_mae: 50451.5938
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49719.9727 - mae: 49719.9727 - val_loss: 50437.5586 - val_mae: 50437.5586
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49701.8984 - mae: 49701.8984 - val_loss: 50430.0586 - val_mae: 50430.0586
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49689.5469 - mae: 49689.5469 - val_loss: 50420.9492 - val_mae: 50420.9492
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49675.7695 - mae: 49675.7695 - val_loss: 50415.3633 - val_mae: 50415.3633
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49667.1484 - mae: 49667.1484 - val_loss: 50415.3555 - val_mae: 50415.3555
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49655.2461 - mae: 49655.2461 - val_loss: 50402.2695 - val_mae: 50402.2695
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49648.2109 - mae: 49648.2109 - val_loss: 50408.2734 - val_mae: 50408.2734
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49634.1445 - mae: 49634.1445 - val_loss: 50400.0430 - val_mae: 50400.0430
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49621.3359 - mae: 49621.3359 - val_loss: 50398.4102 - val_mae: 50398.4102
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49610.9688 - mae: 49610.9688 - val_loss: 50405.2539 - val_mae: 50405.2539
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49603.8086 - mae: 49603.8086 - val_loss: 50410.0391 - val_mae: 50410.0391
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49594.8516 - mae: 49594.8516 - val_loss: 50396.1328 - val_mae: 50396.1328
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49584.7734 - mae: 49584.7734 - val_loss: 50388.4219 - val_mae: 50388.4219
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49576.4492 - mae: 49576.4492 - val_loss: 50399.8242 - val_mae: 50399.8242
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49565.3125 - mae: 49565.3125 - val_loss: 50387.1641 - val_mae: 50387.1641
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49558.0586 - mae: 49558.0586 - val_loss: 50396.5156 - val_mae: 50396.5156
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49550.3438 - mae: 49550.3438 - val_loss: 50390.0625 - val_mae: 50390.0625
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49541.3047 - mae: 49541.3047 - val_loss: 50394.3828 - val_mae: 50394.3828
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49530.2227 - mae: 49530.2227 - val_loss: 50395.2031 - val_mae: 50395.2031
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49524.1289 - mae: 49524.1289 - val_loss: 50390.4414 - val_mae: 50390.4414
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49518.2344 - mae: 49518.2344 - val_loss: 50378.5742 - val_mae: 50378.5742
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49508.9688 - mae: 49508.9688 - val_loss: 50376.1758 - val_mae: 50376.1758
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49501.2773 - mae: 49501.2773 - val_loss: 50377.6328 - val_mae: 50377.6328
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49493.2266 - mae: 49493.2266 - val_loss: 50384.1289 - val_mae: 50384.1289
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49487.1445 - mae: 49487.1445 - val_loss: 50364.1641 - val_mae: 50364.1641
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49478.5664 - mae: 49478.5664 - val_loss: 50381.1328 - val_mae: 50381.1328
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 49470.8633 - mae: 49470.8633 - val_loss: 50387.9023 - val_mae: 50387.9023
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49465.6016 - mae: 49465.6016 - val_loss: 50387.3789 - val_mae: 50387.3789
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49458.6289 - mae: 49458.6289 - val_loss: 50388.3047 - val_mae: 50388.3047
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49452.9219 - mae: 49452.9219 - val_loss: 50383.5234 - val_mae: 50383.5234
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49451.4102 - mae: 49451.4102 - val_loss: 50385.3242 - val_mae: 50385.3242
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 49439.5625 - mae: 49439.5625 - val_loss: 50379.2812 - val_mae: 50379.2812
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 49438.1953 - mae: 49438.1953 - val_loss: 50383.9258 - val_mae: 50383.9258
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 49431.6875 - mae: 49431.6875 - val_loss: 50382.8633 - val_mae: 50382.8633
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 49424.3906 - mae: 49424.3906 - val_loss: 50384.8438 - val_mae: 50384.8438

In [18]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit

In [20]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50364.1641 - mae: 50364.1641
Test MAE : 50364.1640625

In [21]:
model.save('regression_model.h5')

c:\ProgramData\Anaconda3\envs\dl_env\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(